.pad {
    padding: 10px;
}

.box {
    border-radius: 10px;
}


.marg-top{
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.footer-phones{
    padding-top: 8px;
}
.footer-phones p{
    line-height: 7px;
}

.footer-phones span {
    margin-right: 5px;
}

@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

.main-page-carousel {
    min-height: 195px;
}

[light-box="yes"] {
    cursor: pointer;
}
