html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 246px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 246px;
}

@media (min-width: 768px) {
    body {
        margin-bottom: 82px;
    }

    .footer {
        height: 82px;
    }
}
